body, a, div, h4{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
  color: #898989;
  font-size: 14px;
  position: relative;
}

body .component {
  background-clip: content-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.RichText p{
    color:#5d5d5d;
}

md-toolbar,._md-toolbar-transitions{
    background-color: white !important;
    
    
    
}
md-toolbar{
    position: fixed;
    line-height: 1.5;
    font-size: 16px !important;
    color: #666 !important;
    font-weight: 400;
    font-style: normal;
}
.toolbar-image{
    width:80%;
    padding-left: 20px;
    margin-top: 10px;
    
}
.toolbar-text{
    margin-top: 32px;
    text-transform: uppercase;
}
.toolbar{
    margin:5px;
}
.shopCoke{
    width: 100%;
    
}
.withIMage{
    position: relative;
    top: -7px;
}




.productImage{
    width: 200px;
    left: 5px;
    position: relative;
}
.personalImage{
    height:200px;
    position: relative;
    left: 31px;
}
.productRows{
           padding-left: 100px;
    padding-right: 20px;
    margin-top:20px;
}
.description{
     font-size: 14px;
    line-height: 1.42857143;    
    margin-left: 8px;
    width: 220px;
    font-style: normal;
    font-weight: 400;
    color:#5d5d5d;
    text-transform: uppercase;
    text-align: center;
}


body{
    background-color: white;
    font-family: font-family: 'Montserrat', sans-serif !important;
}

.buybutton{
   color: rgb(255,255,255) !important;
    background-color: rgb(244,0,0 )!important;
    margin-top: 5.0px;
    padding: 5.0px 70px;
    border: none;
    line-height: 20px;
    font-weight: 600;
}
.personal{
     padding: 5.0px 50px;
}
.buybutton:hover{
    background: #c10000 !important;
    color: #FFFFFF !important !important;
}

.grayOverlay{ 
    position: fixed;
    top:0px;
    background-color: black;
    opacity: .5;
    z-index: 5;
    width: 100%;
    height: 100%;
    
}
.productsToBuy{
    position: fixed;
    top:20%;
    z-index:10;
    background-color: white;
   
    margin-left: 26%;
        padding-bottom: 20px;
    min-width:700px;
}
.cartShown, .peapodLogin{
    position: fixed;
    top:20%;
    z-index:10;
    background-color: white;
    width:820px;
    border-color: #d5d5d5;
    border-style: solid;
    color:black;
}

.peapodLogin{
 width:40%;
    max-height: 100%!important;
       padding-bottom: 25px;
    padding-top: 25px;
}
.peapodLogin image{
    height:75px;
    
}
.retailerImages{ 
        width: 150px;
}

.buyImage{
    width:230px;
    margin-top: 20%;
}


.sharring-true{
    width:300px
}
.retailerSelect{
    width: 250px;
    
}

.sizeqtyInputs{
    width:190px;
}
.showCartButton{
    color:black;
    padding-top:15px;
    
}
.cartimage{
    width:100px;
    
}

.shippedFrom{
    padding: 10px 15px;
    
}
.shippedFrom img{
        top: 6px;
    position: relative;

}
.estimatedTotal{
    letter-spacing: .1em;
    text-transform: uppercase;
}
.peapodButton{
   
    background-color:#5ea000;
     color:white !important;
}
.itemRow{
    margin-top: 15px;
}
.itemInfoRows{
    
        top: 25px;
    position: relative;
    text-transform: uppercase;
}

.itemHeaders{
    margin-top: 20px;
      border-bottom: solid;
    border-color: #d5d5d5;
    border-width: 2px;
        padding-bottom: 10px;
    text-transform: uppercase;
}
.headerItem{
 padding-left: 25px;
}
.closebutton{
  position: relative;
    top: -25px;
    left: 70px;
}
.smallImg{
    height:25px;
    
}
.alsoOnSaleImage{
    width:66px;
}
.extraProductsContainer{
        padding-top: 15px;
    
}
.onsalePrice{
    margin-top: 14px;
    color: red;
}
.peaPodCheckout{
    
        margin-top: 53px;
}
.checkoutButton{
    margin-top:47px;
}
.sizeLabel{    
    margin-top: 20px;
    padding-right: 50px;
}
.checkoutSpan{
    position:absolute;
    right:0px;
    
}
.divider{
    background-color: #d5d5d5;
    height:2px;
        margin-top: 10px;
}
.sendCart{
    width:300px;
    position: relative;
    left: -10px;
}
.peapodButton.sendCart{
    color:white;
}
.transmitting{
        padding: 30 150px;
    text-transform: uppercase;
}
.buyProductName{
    line-height: 1.5;
    font-size: 28px;
    color: black !important;
    font-weight: 400;
    max-width: 90%;
}
.shippedFromSpan{
    position: relative;
    top:-10px;
      line-height: 1.5;
    font-size: 20px;
    color: white !important;
    font-weight: 400;
    
}
.bottleNameContainer{
    width:336px;
}
.bottlename{
    position: absolute;
    top: 228px;
    left: 120px;
    color: white;
    font-size: 1.3em;
    font-family: Fresca;
    font-weight: bold;
    letter-spacing: -0.9px;
}

.addToBagPDP    {
    position: relative;
    left:-10px;
    color: rgb(255,255,255);
    background-color: rgb(244,0,0);
    margin-top: 15.0px;
    padding: 3.0px 50.0px;
    border: none;
    font-weight: 600;
}
.addToBagPDP:hover{
        background: #c10000 !important;
    color: #FFFFFF !important;
}
label{
    
    font-size: 20px;
}
.longInput{
    width: 100%!important;
}
.mediumInput{
    width:100%!important;
}
.price, md-select-value{
    color:black !important;
   
    font-size: 17px;
}
.price{
     font-weight: 600;
}
.md-select-icon{
     border-left-style: solid;
    border-width: 2px;
    border-color: #d4d4d4!important;
    height: 23px;

}
.md-select-value{
        border: solid;
    border-radius: 5px;
    border-color: #919191!important;
    border-width: 2px;
}
.md-select-value span:first-child{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cartQty{
    position: relative;
    left: -28px;
    top: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #666666;
}
.shoppingBagIcon{
    position: relative;
    height: 30px;
    top: 9px;
}
.arrow{
        top: 5px;
    position: relative;
}
.peapod{
    background-color: rgba(244, 0, 0, 1)!important ;
    color:white;
}
.shoppingBag{
        text-align: center;
    font-size: 30px;
   
    text-transform: uppercase;
    padding: 15 0;
     border-bottom: solid;
    border-color: #d5d5d5;
    border-width: 2px;
}
.shorter{
    padding:5.0px 50px;
}
.extraSpacer{
    height:100px;
}

.md-bar2{
    background-color:#5ea000 !important;
}
.md-bar1{
    background-color:#51c277 !important;
}
.addedImages{
    transition: all linear 0.5s;
}

.addedImages.ng-show{
    opacity: 1;
}
md-progress-linear{
    margin-top:14px;
    margin-bottom:5px
}
.sentToPeapod{
    margin-top: 16px;
}