<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="css/coke.css">
</head>
<body ng-app="cokeApp" ng-cloak>
  
   <div layout="column" ng-controller="cokeController"> 
    <md-toolbar>
        <div  layout="row" class="toolbar">
        <div flex="10">
            <img class="toolbar-image" src="images/cokelogo.png">
            </div>
            <div  flex="15" class="toolbar-text withIMage">Coca-cola  <i class="material-icons  arrow">arrow_drop_down</i></div>
            <div  flex="15" class="toolbar-text withIMage">Coke Life <i class="material-icons arrow">arrow_drop_down</i> </div>
            <div  flex="15" class="toolbar-text withIMage">Coke Zero <i class="material-icons arrow">arrow_drop_down</i></div>
            <div  flex="10" class="toolbar-text">Shop </div>
            <div  flex="10" class="toolbar-text">Rewards </div>
        <div  flex-offset="10">
             <span>
                 
                 <md-button class="showCartButton" ng-click="showCart()"><img src="images/shoppingbag.png" class="shoppingBagIcon"> <span class="cartQty"> {{cart.qty()}}
                 </span>
                 </md-button></span>
            </div>
            <div  flex="20" class="toolbar-text">Sign up / Sign in </div>
        </div>
      
   
    </md-toolbar>
    <div> 
        
        <img class="shopCoke" src="images/shopCoke.png">
       </div>
    
     <div class="productRows" layout="row"  ng-repeat="productRow in products"> 
       <div  ng-repeat="product in productRow" class="column" flex>
            <div> <img class="productImage" ng-src="{{product.image}}"></div>
            <div class="description"> {{product.name}}</div>
            <div> 
                <md-button class="md-raised buybutton"  ng-click="buy(product)">
                    BUY NOW
                </md-button>
           
           </div>
       </div>
        <div ng-show="productRow.length == 3" class="column" flex> 
         <div> <img class="personalImage" src="images/shareACokeBottle.png"></div>
            <div class="description"> Personalized Coca-Cola Bottle</div>
            <div> 
                <md-button class="md-raised buybutton personal"  ng-click="buy(shareACoke)">
                    Share a Coke 
                </md-button>
           
           </div>
         
         
         </div>
       
    </div>
        
       <div class="grayOverlay" ng-show="productsToBuy || cartShown || peapodLogin" > </div>
       <div ng-show="productsToBuy" flex-55 flex-offset-20 class="productsToBuy" layout="column">
        
            <div layout="row">
                <div flex-30>
                    <img class="buyImage sharring-{{currentProduct.sharing}}" ng-src="{{currentProduct.image}}"> 
                    <span class="bottlename" ng-show="currentProduct.sharing">{{bottlename}}</span>
                </div>
                <div layout="column" flex>
                    <div layout="row" > 
                        <div  flex-offset ="80" ng-click="closeBuy()"> <md-button> <i class="material-icons">close</i> </md-button> </div>
                    </div>
                    <div class="buyProductName">{{currentProduct.name}} </div>
                     
                        <div ng-hide="currentProduct.sharing "> 
                            <md-input-container flex="90" class="longInput">
                              <label>Zipcode:</label>
                             <input type="text" flex="100" ng-model="cart.zip">
                            </md-input-container>
                       </div>
                        <div ng-hide="currentProduct.sharing"> 

                            <md-input-container flex="90"  class="longInput"  > 
                            <label>Retailer:</label>
                            <md-select  class="mediumInput" class ="retailerSelect"   ng-model="currentProduct.retailer">
                                <md-option ng-repeat="retailer in currentProduct.retailers" value="{{retailer.name}}">
                                    <img class="retailerImages" ng-src="{{retailer.image}}">
                                </md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                         <div ng-show="currentProduct.sharing">  
                          <md-input-container class="bottleNameContainer">
                              <label>Name:</label>
                             <input type="text" ng-model="bottlename">
                            </md-input-container>
                         </div>
                    
                    <div layout="row">
                        <div flex="40"> 
                           <md-input-container > 
                            <label>Size:</label>
                            <md-select class="sizeqtyInputs"  ng-model="currentProduct.size">
                                <md-option value="{{currentSize}}">{{currentSize}}</md-option>
                                
                            </md-select>
                            </md-input-container>
                        
                                 
                            
                        </div>
                        <div flex="40" flex-offset="10"> 
                            <md-input-container > 
                            <label>QTY:</label>
                            <md-select class="sizeqtyInputs"  ng-model="currentProduct.qty">
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                                <md-option value="6">6</md-option>
                                <md-option value="7">7</md-option>
                                <md-option value="8">8</md-option>
                                <md-option value="9">9</md-option>
                                <md-option value="10">10</md-option>
                                
                            </md-select>
                            </md-input-container>
                        </div>
                    </div>
                     
                    <div flex layout="column"> 
                        <div class="unitPrice">UnitPrice :  </div>
                        <div class="price">${{currentProduct.price * currentProduct.qty}}  </div>
                    </div>
                    <div flex > 
                        <md-button ng-click="addToBag()"  class="addToBagPDP"> Add to bag </md-button>
                    </div>
                    
                    
                  
                </div>
           </div>
       </div>
        <div ng-show="cartShown"  flex="80" flex-offset="20" class="cartShown " layout="column">
            <div layout="row" class="shoppingBag">
            <div  flex="30" flex-offset="35"> Shopping Bag</div>
             <div flex="10" flex-offset="15"> <md-button class="closebutton" ng-click="cartShown=false "> <i class="material-icons">close</i> </md-button>  </div>
                 </div>
            <div layout="row" class="itemHeaders" flex> 
                <div flex="15" class="headerItem"> item </div>
             
                <div flex="10" flex-offset="20"> Retailer </div>
                <div flex="10"  flex-offset="5"> Price </div>
                <div flex="10" flex-offset="5"> Quantity </div>
          
                
            </div>
            <div layout="column" ng-repeat="retailer in cart.retailers"> 
             
                <div layout="row" class="itemRow" ng-repeat="item in retailer.items">
                    <div flex="15" class=""><img class="cartimage" ng-src="{{item.image}}" ></div>
                    <div flex="20" class="itemInfoRows">{{item.name}}</div>
                    <div flex="15"   class="itemInfoRows"> {{retailer.name}} </div>
                    <div flex="10"  class="itemInfoRows"> ${{item.price}} </div>
                    <div flex="10"  flex-offset="5" class=""> 
                            <md-input-container > 
                            <label>QTY:</label>
                            <md-select  ng-model="item.qty">
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                                <md-option value="4">4</md-option>
                                <md-option value="5">5</md-option>
                                <md-option value="6">6</md-option>
                                <md-option value="7">7</md-option>
                                <md-option value="8">8</md-option>
                                <md-option value="9">9</md-option>
                                <md-option value="10">10</md-option>
                                
                            </md-select>
                            </md-input-container>
                    </div>
                   
                    <div flex="10" flex-offset="10" class=""> <md-button ng-click="removeItem(item)"> remove </md-button> </div>
                </div>
                  <div class="divider" flex="100"></div>
                <div class="shippedFrom" flex-offset="70">
                    <span class="estimatedTotal">Estimated Total</span>  : <span class="price"> ${{cart.subtotal()}} </span> 
                </div>
           
                <div class="shippedFrom" layout="row">
                    <div layout="column" ng-hide='saleViewed'>
                        <div> Frequently bought together: </div>
                        <div layout="row" class="extraProductsContainer" ng-repeat="product in extraProducts"> 
                            <div> <img class="alsoOnSaleImage" ng-src="{{product.image}}"></div>
                            <div layout='column'>
                                <div > {{product.name}}</div>
                                
                                <div layout="row"> 
                                    <div class="onsalePrice">${{product.price}} </div>
                                    
                                   <div flex-offset="10"><md-button class="buybutton shorter" ng-click="buySale(product);"> Buy now </md-button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    <div class="checkoutSpan" layout="row">
                        <div class="peaPodCheckout">
                        <img  class="smallImg" ng-src="images/{{retailer.name}}icon.png"> 

                        </div>

                        <div class='checkoutButton'>
                             <md-button class='buybutton'  ng-click="sendToPeapod()">Checkout  </md-button>
                        </div>  
                    </div>
                </div>
            </div>
            
       </div>
       
       <div ng-show="peapodLogin" class="peapodLogin " flex="40" flex-offset="30" layout="column">
          <div layout="row">
           <div flex-offset="20" flex><img src="images/peapodicon.png">  </div>
              <div flex-offset="25"  flex ng-click="peapodLogin=false"><md-button class="closebutton"> <i class="material-icons">close</i></md-button></div>
           </div>
            <div ng-show="login">
                
                <div flex-offset="20" flex>
                    <md-input-container class="sendCart">
                              <label>UserName:</label>
                             <input type="text" ng-model="user.name">
                            </md-input-container>
                </div>
                <div flex-offset="20" flex>
                    <md-input-container class="sendCart">
                        <label>Password:</label>
                        <input type="password" ng-model="user.password">
                    </md-input-container>
                </div>
                 <div flex-offset="20" flex>
                    <md-button  class='peapodButton sendCart' ng-click="transmitToPeapod()"> Send to Cart</md-button>
                </div>
            </div>
           
            <div ng-show="transmitting" class="transmitting">
                 <md-progress-circular class="md-hue-2" md-diameter="20px" flex-offset="50"></md-progress-circular> 
                <br/>
                Transmitting your Cart to Peapod.
           
           </div>
           <div ng-show="peaPodLink" class="transmitting">
                Transmitting your Order has been submitted
                <br/>
               <a href="{{peaPodLink}}" ><md-button  class='peapodButton sendCart'>  Open You cart At Peapod </md-button></a>
           
           </div>
       </div>
   </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
<script src="coke.js"> </script>
    
    
    
</body>
</html>
